[Unit]
Description=wworker the cpumanager project

[Service]
ExecStart=/usr/bin/node /home/v/wworker/wworker.js
Restart=always
User=v
Group=v
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/v/wworker

[Install]
WantedBy=multi-user.target
